* {
    margin: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    width: 90.9%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    color: pink;
    background-color: rgb(255 208 133);
    z-index: 100;
    padding: 10px 60px;
}

.logo img {
    height: 8rem;
    /* height: 60vh; */
}


ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: rgb(197, 20, 174);
    padding: 5px 20px;
    transition: 0.6s ease;

}

ul li a:hover {
    background-color: plum;
    color: rgb(243, 247, 247);
}

/* .logo img {
    float: left;
    width: 130px;
    height: auto;
} */

.img-div {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}

/* .button {
    position: absolute;
    top: 65%;
    

} */

/* .btn{
    border: 1px solid rgb(38, 35, 212) ;
    padding: 10px 30px;
    color: rgb(68, 48, 184);
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 10px;


}

.btn:hover {
    background-color: rgb(38, 35, 212);
    color: white;
    
} */

.content-div {
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 216, 222);
}

.Desc {
    /* display: flex; */
    /* flex-direction: column; */
    padding-top: 60px;
    margin-left: 5%
}

.Desc h1 {
    font-size: 3.4rem;
    color: #680c80;
}

.Desc p {
    font-size: 1.4rem;
    color: rgb(223, 14, 83);

}



/* #header {
    width: 400px;
 } */

.nav button {
    background-color: rgb(250, 160, 205);
    margin: 1rem;
    padding: 1%;
    width: 7.3%;
    border-radius: 5rem;
    border: none;
}

.nav button:hover {
    /* color: rgb(11, 235, 29); */
    background-color: rgb(250, 162, 30);
    border-radius: 5rem;

}


#getStartedButton {
    background-color: rgb(158, 173, 224);
    margin: 1rem;
    padding: 0.65rem 0.1rem;
    width: 35%;
    border-radius: 5rem;
    border: none;
}


#getStartedButton:hover {
    background-color: rgb(250, 160, 205);
    border-radius: 5rem;
}


.sub-topic {
    font-size: 1.0rem;
}

.sub-topic label {
    padding: 0.4rem;
    font-weight: 500;
}

.sub-topic i {
    color: blue;
}

.media img {
    width: 100px;

}

.media {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

}

.media1 {
    background-color: rgb(250, 250, 243);
    box-shadow: 10px 10px 5px rgb(232, 240, 240);
}

.media {
    padding: 1rem;
}

.flex-container {
    display: flex;
    align-self: center;
    background-color: beige;


}

.flex-container>div {
    /* background-color: #edadf0; */
    width: 200px;
    height: 200px;
    margin: 30px 50px;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
}



.flex-container div {
    font-size: 10px;
}


.work-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;

}


.card-content h1 {
    color: brown;
}

.card-content p {
    color: #680c80;

}

.work-card:hover {
    background-color: lightgreen;
    border-radius: 10%;
}

.image-box {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #54c1c9;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-box img {
    width: 22px;
    height: 22px;

}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.work-card h1 {
    margin: 0;
    display: inline;
}




.work-card1 {
    display: flex;
    background-color: rgb(231, 199, 138);
    justify-content: center;
    align-items: center;

}

.work-card1:hover {
    background-color: lightgreen;
    border-radius: 10%;
}

.image-box1 {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5e619;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-box1 img {
    width: 22px;
    height: 22px;

}

.card-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-content1 h1 {
    color: brown;
}

.card-content1 p {
    color: #680c80;

}

.work-card1 h1 {
    margin: 0;
    display: inline;
}


.work-card2 {
    display: flex;
    background-color: plum;
    justify-content: center;
    align-items: center;

}

.work-card2:hover {
    background-color: lightgreen;
    border-radius: 10%;
}

.image-box2 {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d16ceb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-box2 img {
    width: 22px;
    height: 22px;

}

.card-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-content2 h1 {
    color: brown;
}

.card-content2 p {
    color: #680c80;

}


.work-card2 h1 {
    margin: 0;
    display: inline;
}


.work-card3 {
    display: flex;
    background-color: lightpink;
    justify-content: center;
    align-items: center;

}

.work-card3:hover {
    background-color: lightgreen;
    border-radius: 10%;
}

.image-box3 {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dac4d4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-box3 img {
    width: 22px;
    height: 22px;

}

.card-content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-content3 h1 {
    color: brown;
}

.card-content3 p {
    color: #680c80;

}


.work-card3 h1 {
    margin: 0;
    display: inline;
}



.foot {
    min-height: 25rem;
    background-color: rgb(255 208 133);
}


#footer_ {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.foot #footer_ .footer-section1 img {
    height: 8rem;
    width: 10rem
}

.footer-section2 ul {
    margin: 1rem;
    padding: 1rem;
    display: inline;
    flex-wrap: unset;
}

.footer-section2 ul li {
    list-style-type: none;
}

.footer-section3 ul {
    flex-wrap: unset;
    margin: 1rem;
    padding: 1rem;
    display: inline;
}

.footer-section3 ul li {
    list-style-type: none;
}

.footer-section4 ul {
    flex-wrap: unset;
    margin: 1rem;
    padding: 1rem;
    display: inline;
}

.footer-section4 ul li {
    list-style-type: none;
}

.a {
    margin-left: 37rem;
    margin-top: 7rem
}

.footer_section_hr {
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    width: 65%;
}

.footer-section1 div {
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 1.5rem
}

.footer-section1 p {
    margin-top: 0.8rem;
    font-size: larger;
}

.marker center {
    padding: 15px;
}

.courses1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 204, 238);
}
.courses-button button{
    padding:0.7rem;
    margin: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(0, 162, 255);
}

.title{
margin:2.5rem;
/* padding:0.3rem; */
}
.title h1{
    font-size: 3rem;
    color: #57076b;
}

.title p{
    font-size: 1.2rem;
    color: #f0428a;
}

.coursecard{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 20rem;
        padding: 1rem;
        background-color: beige;
       
    }

    .coursecard :hover{
        background-color: plum;
     }
    .card1{
        width: 18rem;
        border: 1px solid blanchedalmond;
        border-radius: 4rem;


    }
    .card1 img{
        border-radius: 2rem;
    }
    

    .card1 p{
        margin: 1rem;
        color: #f0428a;
    }
    .card1 h1{
        margin: 1rem;
        color: #57076b;
    }